<section class="content-header">
    <h1>
        <span>User</span>
        <small>Device</small>
    </h1>
</section>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Device</h3>
    </div>

    <div class="box-body">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Device name</th>
                    <th>Username</th>
                    <th>Location</th>
                    <th style="width: 180px">Last active</th>
                    <th style="width: 50px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    ori.use('event store bus wrapper util prog storage', () => {
        const holder = {}

        const table = wrapper.table({
            target: window.table,
            command: 'table',
            cols: [
                (data) => {
                    return data.uuid
                },
                (data) => {
                    let content = data.user.username

                    if (data.uuid === storage.uuid) {
                        content += ' (<span class="text-hint">This device</span>)'
                    }

                    return content
                },
                (data) => {
                    return `
                    <a href="https://www.google.com/maps?z=12&t=m&q=${data.location.latitude},${data.location.longitude}" target="_bank">
                        ${data.location.latitude}, ${data.location.longitude}
                    </a>`
                },
                (data) => {
                    return `<div class="wsn">${util.timef(data.active)}</div>`
                },
                (data) => {
                    return `<a class="btn btn-danger btn-xs" click-emit="logout:${data._id}">Logout</a>`
                },
            ],
        })

        event.on('logout', (_id) => {
            bus.ui('logout', { _id }).then(() => {
                prog.success('Logout device success')
            }).catch(bus.ale)
        })
    })
</script>
