<section class="content-header">
    <h1>
        <span>Ethereum</span>
        <small>ETH Balance</small>
    </h1>
</section>

<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input store-bind="address" class="form-control" value="0x2d6fa756d3137d1a897ca433205054d624e66e66">
            <span class="input-group-btn">
                <a class="btn btn-info" click-emit="fetch">Search</a>
            </span>
        </div>

        <div class="mb20" store-bind="suggest"></div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">ETH Balance</h3>
    </div>

    <div class="box-body">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Balance</th>
                    <th>Time</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    ori.use('event bus store wrapper util storage', () => {
        const table = wrapper.table({
            target: window.table,
            param: () => {
                return {
                    address: store.address,
                }
            },
            command: 'table',
            cols: [
                (data) => {
                    return data.blockNumber
                },
                (data) => {
                    if (!data.balance) {
                        return '--'
                    }

                    return `${data.balance / 1e18} ETH`
                },
                (data) => {
                    return util.timef(data.time)
                },
            ],
        })

        event.on('fetch', (address) => {
            if (address) {
                store.address = address
            }

            const recents = storage.recents || []

            recents.unshift(store.address)
            storage.recents = recents.filter((address, index) => recents.indexOf(address) === index).slice(0, 12)

            event.emit('render_recent')
            table.reload()
        })

        event.on('render_recent', () => {
            store.suggest = storage.recents?.map((address) => {
                return `<span class="badge bg-blue mr5" click-emit="fetch:${address}">${address.slice(-6)}</span>`
            }).join('') || ''
        })

        event.emit('render_recent')
    })
</script>
