<section class="content-header">
    <h1>
        <span>Ethereum</span>
        <small>ERC20 Transfer</small>
    </h1>
</section>

<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input store-bind="address" class="form-control">
            <span class="input-group-btn">
                <a class="btn btn-info" click-emit="fetch">Search</a>
            </span>
        </div>
        <div class="mb20" store-bind="suggest"></div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">ERC20 transfer transaction in the last 30 days</h3>
    </div>

    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Txhash</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody store-bind="tbody"></tbody>
        </table>
    </div>
</div>

<script>
    ori.use('event store bus util storage', () => {

        event.on('fetch', (address) => {
            if (address) {
                store.address = address
            }

            const recents = storage.recents || []

            recents.unshift(store.address)
            storage.recents = recents.filter((address, index) => recents.indexOf(address) === index).slice(0, 12)
            event.emit('render_recent')

            bus.ui('fetch', { address: store.address }).then(({ data }) => {
                store.tbody = data.map((log) => {
                    return `<tr>
                        <td>${log.transactionHash}</td>    
                        <td>${util.timef(log.time)}</td>    
                    <tr>`
                }).join('')
            }).catch(bus.ale)
        })

        event.on('render_recent', () => {
            store.suggest = storage.recents?.map((address) => {
                return `<span class="badge bg-blue mr5" click-emit="fetch:${address}">${address.slice(-6)}</span>`
            }).join('') || ''
        })

        store.address = '0x68700c7c68d606fcbe102b4cf4f40a00c78ee71d'
        event.emit('render_recent')
        event.emit('fetch')
    })
</script>
